.contact-list{
    background-color: white;
    width: 30%;
    min-height: 80vh;
    max-height: 80vh;
    border-right: 2px solid rgb(25,47,89,0.4);
    padding: 20px 15px 20px;
    overflow-y: scroll;
    display: inline-block;
}

.contact-list .search-bar{
    border-radius: 30px;
    width: 80%;
    border: 3px solid rgb(25,47,89,0.4);
    padding-left: 20px;
    margin: 0 auto;
    display: block;
}

.contact-list img{
    width: 2.5vw;
    height: 5vh;
    border-radius: 50%;
}

.contact-list .contact{
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 2px 3px rgb(0,0,0,.3);
    cursor: pointer;
}

.contact-list .selected{
    border: 3px solid #192F59;
}

.contact *{
    display: inline-flex;
    vertical-align: top;
}

.contact .content-row{
    display: inline-block;
    width: 14vw;
    padding-left: 10px;
}

.content-row *{
    display: block;
    width: 100%;
}

.content-row p{
    margin: 0;
}

.content-row small{
    padding-top: 5px;
    overflow: hidden;
}

.unread-message small{
    color: hsl(214, 100%, 59%);
    font-weight: bold;
}

.unread-message .other-row{
    display: inline-block;
    align-content: flex-end;
}

.unread-message svg{
    align-self: flex-end;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 5px;
    display: block;
    color: hsl(214, 100%, 59%);
    width: 10px;
    height: 10px;
}