#forgot-password-section{
    background-color: #F6F8FB;
    padding: 30px;
    text-align: center;
    border-radius: 30px;
    margin: 15px;
    box-shadow: 4px 4px rgb(0,0,0,.3);
}

#forgot-password-section svg{
    color: #192F59;
}

#forgot-password-upper-section svg{
    width: 120px;
    height: 120px;
    margin: 0px;
}

#forgot-password-upper-section h1{
    margin: 0px;
}

#forgot-password-form *{
    display: block;
    margin: 10px auto;
}

#forgot-password-form input[type="submit"]{
    background-color: #B248AD;
    color: white;
    border: 1px solid #B248AD;
    border-radius: 10px;
    margin: 20px auto;
    width: 120px;
}

#forgot-password-form input[type="email"]{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    color: #192F59;
    width: 30vw;
}

#forgot-password-form label{
    background-color: transparent;
    color: #192F59;
    border: none;
    font-weight: bold;
}

#forgot-password-form label::before{
    content: none;
}

#back-to-login-section svg{
    margin: 0 5px 0 0;
}

#back-to-login-section a{
    display: flex;
    justify-content: center;
    height: 30px;
    margin: 10px;
    line-height: 25px;
}