#receipient-list{
    margin-left: auto;
    margin-right: auto;
    width: 99.7%;
    border: 3px solid #192F59;
    background-color: #E6E7E9;
}

#receipient-list .long-input{
    display: flex;
    background-color: #F6F8FB;
    border-radius: 20px;
    padding: 10px;
    width: 97%;
}

#receipient-list label{
    background-color: #F6F8FB;
    color:#192F59;
    border-radius: 20px 0px 0px 20px;
}

#receipient-list label::before{
    content:"";
}

#recipient-list-pagination {
    width: 100%;
}

#recipient-list-pagination nav{
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}

#recipient-list-pagination button{
    font-weight: bold;
}

#recipient-list-pagination svg{
    color: #192F59;
}