#charity-recipient-list{
    padding: 0px;
    border-spacing: 0px;
    background-color: #192F59;
    border: 3px solid #192F59;
    table-layout: fixed;
    overflow: hidden;
    text-overflow: ellipsis;
}

#charity-recipient-list th{
    padding: 10px;
    padding-left: 20px;
}

#charity-recipient-list tbody{
    background-color: white;
}

#charity-recipient-list .recipient{
    padding: 10px;
    line-height: 7vh;
    background-color: #F6F8FB;
}

#charity-recipient-list td{
    border: 0px;
    border-bottom: 3px solid rgb(25, 47, 89, .25);
}

#charity-recipient-list .button{
    display: inline-flex;
}

#charity-recipient-list .status{
    padding: 0.75vw 1.5vh;
}

#charity-recipient-list-pagination{
    width: 400%;
    background-color: white;
    display: flex;
    padding: 10px 0px;
    color: #192F59;
    justify-content: flex-end;
}