.status{
    font-size: 16px;
    border-radius: 5px;
    padding: 5% 10%;
    height: auto;
    color: #192F59;
}

#active-status, #approved-status, #available-status, #verified-status, #in-progress-status{
    color: #FFFFFF;
    background-color: #00A65A;
}

#inactive-status, #rejected-status, #closed-status, #not-verified-status, #not-active-status{
    color: #FFFFFF;
    background-color: #DD4B39;
}

#pending-status, #preregistration-status{
    color: #FFFFFF;
    background-color: #FDC800;
}

#not-started-status,#appointment-status,#paid-status{
    color: #FFFFFF;
    background-color: #B248AD;
}

#paid-status{
    color: #FFFFFF;
    background-color: #192F59;
}