#job-list{
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.job-card{
    width: 25%;
    background-color: #F6F8FB;
    border-radius: 10px;
    display: block;
    margin: 20px;
    padding: 35px;
    box-shadow: 4px 4px rgb(0,0,0,.2);
    cursor: pointer;
}

.job-title{
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.job-content{
    word-wrap: break-word;
}

.apply-button{
    border: 10px solid #B248AD;
    color: white;
    background-color: #B248AD;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
    margin: 10px auto;
}

.carousel-item{
    width: 100%;
    display: flex;
    padding: 5px 10%;
}

.carousel-item img{
    width: 50%;
}

#title-section button{
    color: white;
    display: inline-flex;
    height: 30px;
    border: 2px solid #192F59;
    background-color: #192F59;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
    line-height: 30px;
    vertical-align: middle;
    margin:24px 20px 24px auto;
    cursor: pointer;
}