#charity-event-list-back-section svg{
    color: #192F59;
    margin: 0;
}

#charity-event-list-back-section{
    padding: 5px;
    border-right: 3px solid rgb(25, 47, 89, .4);
    margin-right: 10px;
}

#charity-event-list-upper-part{
    display: flex;
    font-weight: bold;
    border-bottom: 3px solid rgb(25, 47, 89, .4);
    padding-bottom: 10px;
}

#charity-event-list-upper-part p{
    margin: 7px 0;
    font-size: 20px;
}

#charity-event-list-upper-part button{
    margin: auto 20px auto auto;
    position: relative;
}

.button-list{
    display: flex;
    justify-content: center;
    width:93%;
}

.button{
    color: #192F59;
    display: flex;
    height: 30px;
    border: 2px solid #192F59;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px;
    line-height: 25px;
}

.button svg{
    margin: 0 5px 0 0;
    color: #192F59;
}

.danger-button{
    color: #DF5645;
    display: flex;
    height: 30px;
    border: 2px solid #DF5645;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px;
    line-height: 25px;
}

.danger-button svg{
    margin: 0 5px 0 0;
    color: #DF5645;
}

#charity-event-list-table-section{
    padding: 20px;
    background-color: #E2ECFF;
}

table{
    padding: 10px;
    width: 100%;
    color: #192F59;
    margin-top: 15px;
    background-color: white;
    table-layout: fixed;
    min-height: 50vh;
}

table thead{
    height: 35px;
    background-color: #192F59;
    color: white;
}

thead th{
    border: 2px solid #192F59;
    text-align: left;
    padding-left: 20px;
    width: max-content;
}

tbody{
    background-color: white;
    color: #192F59;
    font-weight: bold;
}

tbody td,tbody th{
    padding-left: 20px;
    border-bottom: 3px solid rgb(25, 47, 89, .4);
    width: calc(100%/8);
}

td .status{
    text-align: center;
    justify-content: center;
}

.title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}

.organizer,.progress,.date{
    width: 10%;
}

.no-event{
    text-align: center;
}

.event-status{
    width: 15%;
}

#event-list-pagination nav{
    display: flex;
    background-color: white;
    padding: 10px;
    justify-content: flex-end;
}

#event-list-pagination button{
    font-weight: bold;
}

#event-list-pagination svg{
    color: #192F59;
}