.success *,.fail *{
    text-align: center;
}

.success h1, .success svg{
    color: #039487;
}

.fail h1, .fail svg{
    color: #ff0000;
}

.success svg, .fail svg{
    width: 20vw;
    height: 20vh;
    margin: auto;
    display: block;
}

#donation-button-row{
    display: flex;
    justify-content: center;
}

#donation-button-row .button{
    display: inline-flex;
    justify-content: center;
    border: 1px solid #192F59;
    color: white;
    background-color: #192F59;
    border-radius: 20px;
    height: 5vh;
    width:10vw;
    cursor: pointer;
    margin: 10px;
    line-height: 30px;
}