#donation-history{
    display: flex;
}

#donation-history .title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 15vw;
}

#donation-history table{
    table-layout: fixed;
    width: 100%;
    background-color: white;
    border: 3px solid  #192f59;
    border-radius: 10px;
    padding: 0;
    border-spacing: 0;
    min-height: 15vh;
}

#donation-history td,#donation-history th{
    margin: 0px;
    padding: 15px 10px 15px 20px;
}

.button-row button{
    display: inline-flex;
}

.button-row button:disabled{
    color: rgba(25, 47, 89, 0.5);
    border: 1px solid  rgba(50, 50, 50, 0.5);
}

button:disabled svg{
    color: rgba(25, 47, 89, 0.5);
}

#donation-list-pagination nav{
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}

#donation-list-pagination button{
    font-weight: bold;
}

#donation-list-pagination svg{
    color: #192F59;
}

#donation-history-content{
    width: 90%;
}

#donation-history .category{
    width: 8vw;
}

#donation-history .date{
    width: 10vw;
}

#donation-history .donation-status{
    width: 10vw;
}