.button-list{
    display: flex;
    justify-content: center;
}

.button{
    color: #192F59;
    display: flex;
    height: 30px;
    border: 2px solid #192F59;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px;
    line-height: 25px;
    cursor: pointer;
}

.button svg{
    margin: 0 5px 0 0;
    color: #192F59;
}

.danger-button{
    color: #DF5645;
    display: flex;
    height: 30px;
    border: 2px solid #DF5645;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px;
    line-height: 25px;
    cursor: pointer;
}

.danger-button svg{
    margin: 0 5px 0 0;
    color: #DF5645;
}

#user-list-table-section{
    padding: 20px;
    background-color: #E2ECFF;
}

#user-list-table-section table{
    padding: 10px;
    width: 100%;
    color: #192F59;
    margin-top: 15px;
    background-color: white;
    table-layout: fixed;
}

#user-list-table-header-row{
    height: 10% !important;
    background-color: #192F59;
    color: white;
}

#user-list-table-section thead th{
    border: 2px solid #192F59;
    text-align: left;
    padding-left: 20px;
}

#user-list-table-section tbody{
    background-color: white;
    color: #192F59;
    font-weight: bold;
}

#user-list-table-section tbody td{
    padding-left: 20px;
    border-bottom: 3px solid rgb(25, 47, 89, .4);
}

#user-list-table-section .full-name-header-cell{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
    padding: 10px;
}

#user-list-table-section .full-name-cell{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
    display: flex;
    margin: 0;
}

#user-list-table-section .role, .user-status{
    width: 20%;
}

#user-list-table-section .profile-pic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#user-list-table-section .full-name-cell .full-name{
    margin: auto 0 auto 5%;
}

.form-modal{
    width: 100%;
    height: 100%;
}

.form-modal-frame{
    border: #192F59 3px solid;
    width: 99%;
    padding: 5px;

}

.form-modal-box{
    width: 70%;
    position: absolute;
    background-color: white;
    border: 2px solid #000;
    margin: 3% 15%;
    border-radius: 10px;
    overflow-y: scroll;
    height: 90%;
    box-shadow: 5px 6px 2px -2px rgb(0,0,0,.3);
}

.form-modal-view-title{
    width: 100%;
    color: black;
    text-align: center;
    font-size: 45px;
    margin: 1% 0;
}

.form-modal-view-frame{
    width: 99%;
    padding: 3px;
    height: 500px;
    display: flex;
}

.form-modal-view-action-section{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 0 35%;
}

.modal-close-button{
    border-color: #323232;
    background-color: #323232;
    color: white;
    border-radius: 20px;
    height: 40px;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100px;
    cursor: pointer;
}

#create-user-form{
    width: 100%;
    background-color: white;
    padding: 20px 9% 0 10%;
    justify-content: center;
    border-radius: 20px 0px 0px 20px;
}

#create-user-form input{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    background-color: white;
    display: block;
    width: 100%;
}

#create-user-form label{
    border: 0px;
    background-color: white;
    color: black;
    display: block;
    width: 95%;
}

#create-user-form label::before{
    content: "";
}

.form-modal-view-action-section #create-button{
    background-color: #192F59;
    color: white;
    border-radius: 20px;
    height: 40px;
    position: relative;
    display: block;
    width: 100px;
    cursor: pointer;
}

.form-modal-close-section{
    display: inline;
    height: 5%;
}

.form-modal-close-section svg{
    cursor: pointer;
    float: right;
    height: 50px;
}

.swal2-container {
    z-index: 10000;
}