#transfer-donation-details{
    background-color: white;
    border-radius: 10px;
    padding: 20px 10%;
    align-content: center;
    width: 100%;
}

#transfer-button{
    background-color: #1A7755;
    border-color: #1A7755;
    color: white;
    margin: 10px auto;
    border-radius: 20px;
    height: 40px;
    display: block;
    text-align: center;
    width: 150px;
    cursor: pointer;
}

.empty-option-reminder{
    padding-left: 20px;
    font-weight: bold;
}
