button{
    font-weight: bold;
}

#save-section input{
    margin: 10px;
}

.read-only{
    color: rgba(25, 47, 89, 0.8);
    background-color: #E1E1E1;
}

#view-user-event-proposal #cancel-button{
    background-color: #E1E1E1;
    border-color: #E1E1E1;
    color: white;
    margin: 10px 4px;
    border-radius: 20px;
    height: 40px;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100px;
    cursor: pointer;
}

#charity-form-left-content .short-input{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0px;
}

#charity-form-left-content .long-input *{
    width: 98%;
}

#charity-form-left-content{
    width: 50%;
    margin-right: 15px;
}

#charity-form-right-content label{
    width: 50%;
}

#charity-form-right-content input{
    width: 60%;
}