#back-icon{
    color: black;
}

#back-section{
    display: flex;
    border-bottom: 2px solid rgba(25, 47, 89, 0.4);
    margin: -1% -5.5% 2% -5.5%;
}

#back-button{
    margin: 3px 3px;
    padding: 0 20px;
    border-radius: 5px;
    border : none;
    background-color: white;
    
}

#back-button:hover{
    margin: 2px 2px;
    background-color: rgba(215,215,215,1);
    border : 1px solid rgba(25, 47, 89, 0.4);
}

#back-section svg{
    display: inline-block;
    height: 35px;
    width: 35px;
    
}

#back-section a{
    display: inline-block;
    margin: 10px;
    font-weight: bold;
}

.back-section-title{
    color:#192f59;
    text-align: center;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin: 10px 0;
    border-left: 2px solid rgba(25, 47, 89, 0.4);
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: #192F59;
    vertical-align: top;
}

#back-text{
    color:#192f59;
    text-align: center;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin: 10px 0;
    padding: 0 10px
}

.create-button{
    color: #192F59;
    display: flex;
    height: 30px;
    border: 2px solid #192F59;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px;
    line-height: 25px;
}

.create-button #add-icon{
    margin: 0 5px 0 0;
    color: #192F59;
    height: 25px;
}

#back-section .create-button{
    margin: auto 20px auto auto;
    position: relative;
}
