form div{
    display: inline-block;
    width: 50%;
}

form{
    align-content: center !important;
}

label{
    background-color: #192F59;
    color: white;
    font-weight: bold;
    padding: 10px 5px 10px 5px;
    width: 100%;
}

input{
    border: 0;
    padding-left: 8px;
    font-family: "Roboto Condensed" !important;
    font-weight: bold;
    color: #192F59;
    font-size: 15px;
}

input{
    border: 4px solid #192F59;
}

.long-input{
    margin: 10px;
    width: 95%;
}

.long-input *{
    display: block;
}

.long-input label{
    padding: 5px 8px;
}
.long-input input{
    padding: 0;
    width: 100%;
    height: 100px;
}

.short-input{
    display: flex;
    margin: 10px;
}

.short-input label{
    width: 40%;
}

.short-input input{
    width: 50%;
}

/* file upload */
.file-upload{
    width: 95%;
    border: 4px solid #192F59;
}

#upper-part{
    display:flex;
    width: 100%;
}



.file-upload *{
    display: block;
}

.file-upload label{
    padding: 5px 0 5px 0;
    width: 100%;
}

#fileInput{
    display: none;
}

img{
    width:100%;
    height: 300px;
}

#back-icon{
    color: black;
}

#create-button{
    background-color: #192F59;
    color: white;
    margin: 10px auto;
    border-radius: 20px;
    height: 40px;
    position: relative;
    display: block;
}

#back-section{
    padding: 0;
    display: flex;
}

#back-section svg{
    display: inline-block;
    margin: 10px;
    height: 18px;
    width: 18px;
}

#back-section a{
    display: inline-block;
    margin: 10px;
}

input::-webkit-file-upload-button{
    display: none;
}