#password-section{
    display: flex;
}

#password-content-section{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    align-content: center;
    width: 100%;
}

#password-content-section span{
    margin: 40px 0;
}

#password-content-section label{
    width: 20vw;
}