#donation-details-section table{
    color: #192F59;
    border-spacing: 0px;
    border: 0.8px solid #192F59;
    padding: 0px;
}

#donation-details-section td{
    padding: 1%;
    border: 2px solid #192F59;
    margin: 0px;
    word-wrap: break-word
}

#donation-details-section .title{
    background-color: #192F59;
    color: white;
    margin: 0px;
}

.donation-status-section{
    margin-top: 1%;
}

#donation-button-row #cancel-button{
    background-color: #E1E1E1;
    border-color: #E1E1E1;
    color: white;
    margin: 10px 4px;
    border-radius: 20px;
    height: 40px;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100px;
    cursor: pointer;
}