.dropdown svg{
    margin: 0 !important;
    color: #192F59;
}

.dropdown legend{
    display:none;
}

/* .dropdown .Mui-disabled{
    -webkit-text-fill-color: rgba(0,0,0,1) !important;
} */

/* .dropdown #dropdown{
    background-color: #E1E1E1 !important;
} */

/* .dropdown #dropdown{
    color: rgba(25, 47, 89, 0.8) !important;
} */