.chat-window{
    background-color: #E2ECFF;
    width: 59.5vw;
    min-height: 86vh;
    max-height: 86vh;
    display: inline-block;
    vertical-align: top;
}

.chat-contact{
    padding: 15px 20px;
    display: flex;
    min-height: 5vh;
    max-height: 10vh;
    align-items: center;
    background-color: white;
}

.chat-contact img{
    width: 2.5vw;
    height: 5vh;
    border-radius: 50%;
}

.chat-contact span{
    width: 90%;
    padding-left: 10px;
}

.chat-contact .done-button{
    color:#192F59;
    border: 2px solid #192F59;
    border-radius: 5px;
    padding: 3px 0;
    background-color: white;
    cursor: pointer;
}

.chat-contact .done-button:hover{
    background-color: rgba(215,215,215,1);
}


.chat-contact .more-button{
    color: #192F59;
    display: inline-block;
    height: 30px;
    border: 1px;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    line-height: 25px;
    cursor: pointer;
}

.chat-contact .more-button:hover{
    background-color: rgba(215,215,215,1);
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.more-dropdown {
    position: relative;
    display: inline-block;
}

.more-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: -6%;
    z-index: 1;
}

.more-dropdown-content button:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.more-dropdown-display .more-dropdown-content {
    display: block;
}

.more-dropdown-content .delete-chat-button{
    color: #DF5645;
    display: flex;
    height: 30px;
    border: 0px;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px auto;
    line-height: 25px;
    cursor: pointer;
}

.chat-message{
    background-color: #E2ECFF;
    min-height: 65vh;
    max-height: 65vh;
    overflow-y: scroll;
    border-top: 3px solid #192F59;
}

.chat-message .message{
    padding: 10px;
    width: max-content;
    max-width: 95%;
    word-break: break-all;
}

.chat-message .sender{
    justify-content: flex-end;
    background-color: greenyellow;
    border-radius: 15px 0px 15px 15px;
    margin: 15px 10px 15px auto;
}

.chat-message .recipient{
    background-color: white;
    border-radius: 0px 15px 15px 15px;
    margin: 15px auto 15px 15px;
}

.chat-message p{
    margin: 10px 0;
}

.chat-message small{
    display: flex;
    justify-content: flex-end;
}

.chat-message-section{
    display: flex;
    width: 98%;
}

.chat-message-section .delete-chat-record-button{
    padding: 0;
    width: 30px;
    height: 30px;
    margin: auto 1px;
    border: 0px;
    cursor: pointer;
}

.chat-message-section .delete-chat-record-button svg{
    color:#DF5645;
}

.chat-message-section  button:hover {
    border: #192F59 1px solid;
    border-radius: 5px;
}

.chat-input{
    padding: 15px;
}

.chat-input input{
    border: 2px solid #192F59;
    border-radius: 20px;
    width: 90%;
    padding-left: 25px;
    height: 35px;
}

.chat-input button{
    background-color: #192F59;
    border-radius: 50%;
    border: solid 1px #192F59;
    margin-left: 10px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    cursor: pointer;
}

.chat-input button svg{
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}